
<form name="formPass" id="formPass" novalidate="novalidate" (submit)="!IsBusy && ClickSave()">
    <div class="side-body">
        
    <div class="row">
        <div class="col-xs-12">
            <div class="pass-info">
                <div class="info-container" *ngIf="isSuccess">
                    <div class="row">
                    <i class="info-icon-container fa-info-circle float-left"></i>
                    <span class="info-text">{{localizationResources.Message_ChangePassword_Successful | translate}}</span>
                    </div>
                </div> 
                <div class="error-container" *ngIf="hasError || !isSecurityMet">
                    <div class="row">
                    <i class="content-icon-red ion-minus-circled float-left"></i>
                    <span class="error-text" *ngIf="hasError">{{ErrorCodeMessageError | translate}}</span>
                    <span class="error-text" *ngIf="!isSecurityMet">{{securityMessage | translate}}</span>
                    </div>
                </div>
                <div class="warning-container" *ngIf="hasWarning">
                    <div class="row">
                    <i class="warning-icon-container ion-alert-circled"></i>
                    <span class="warning-text">{{localizationResources.Error_ChangePassword_Match | translate}}</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 password-container"> 
            <div class="row">
                <div class="field-label padding-5 pass-label">
                    <i class="content-icon-blue-left fa fa-unlock-alt float-left margin-top-2px"></i>
                    {{localizationResources.Label_ExistingPassword | translate}}
                </div>
                <div class="field-container">
                    <input id="existingpass" type="password" name="existingpass" [(ngModel)]="ChangePasswordDto.currentPassword" class="pass-textbox" required
                            (change)="validatePassword()" />
                    <i class="content-icon ion-alert-circled error-icon" *ngIf="showIconWarningExisting"></i>
                </div>
            </div>
            <div class="row">
                <div class="field-label padding-5 pass-label">
                    <i class="content-icon-blue-left fa fa-unlock-alt float-left margin-top-2px"></i>
                    {{localizationResources.Label_NewPassword | translate}}
                </div>
                <div class="field-container">
                    <input id="newpass" name="newpass" type="password" [(ngModel)]="ChangePasswordDto.newPassword" class="pass-textbox" required
                            [ngClass]="{'green-box': isNewPassSuccess}"
                            (change)="validatePassword()" />
                    <i class="content-icon ion-alert-circled error-icon" *ngIf="showIconWarningNew"></i>
                </div>
            </div>
            <div class="row">
                <div class="field-label padding-5 pass-label">
                    <i class="content-icon-blue-left fa fa-lock float-left margin-top-2px"></i>
                    {{localizationResources.Label_ConfirmNewPassword | translate}}
                </div>
                <div class="field-container">
                        <input id="confirmpass" name="confirmpass" type="password" [(ngModel)]="ChangePasswordDto.newPasswordConfirm" class="pass-textbox" required
                        [ngClass]="{'green-box': isConfirmPassSuccess}"
                        (change)="validatePassword()" />
                    <i class="content-icon ion-alert-circled error-icon" *ngIf="showIconWarningConfirm"></i>
                    
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 pass-btn btn-container">
            <button id="btnSave" name="btnSave" type="submit" class="button-generic float-right" 
                    [disabled]="isDisabledBtn">

                <i class="ion-android-done padding-0-5"></i>{{localizationResources.Button_Save | translate}}
            </button>

            <button id="btnBack" name="btnBack" type="button" (click)="ClickGoBack()" class="backTo float-right">
                <i class="fa fa-arrow-left padding-0-5"></i>{{localizationResources.Button_GoBack | translate}}
            </button>
        </div>
    </div>

    </div>
</form>