<!-- <body id="body" class="showOverflowY">
    <div id="eGovApp" ng-app="eGovApp">
        <div id="landscapeContainer">
            <app-vehicle-change-case-overview></app-vehicle-change-case-overview>
            
            <div ui-view="mainview" class="mainviewContainer">
                <div></div>
                <div class="container" style="text-align:center;">
                   
                </div>
            </div>
            
        </div>
    </div>
    <footer>
        <h1>
            {{stringTest}}
        </h1>
    </footer>
</body> -->


<h1 translate>name_en _dy</h1>

<div>
  {{ 'age_en' | translate }}
</div>

<button (click)="switchLanguage('en')">en</button>

<button (click)="switchLanguage('fr')">fr</button>

<button (click)="switchLanguage('de')">de</button>

