<!-- <h1 translate>br1_Description</h1>

<div>
  {{ 'br1_Category' | translate }}
</div>

<button (click)="switchLanguage('en')">en</button>

<button (click)="switchLanguage('fr')">fr</button>

<button (click)="switchLanguage('de')">de</button> -->

<body id="body" class="showOverflowY" (click)="bodyClicked($event)">
    <div id="eGovApp" ng-app="eGovApp">
        <div id="landscapeContainer">
            <app-nav-bar></app-nav-bar>
            <router-outlet></router-outlet>
        </div>
    </div>
    <footer>
    </footer>
</body>



