<div ui-view="navbar">
    <div class="Rectangle">
        <div class="side-menu">
            <header> 
                <nav class="navbar navbar-default" role="navigation">
                    <div class="navbar-header">
                        <div class="brand-wrapper">
                            <!-- Hamburger -->
                            <i class="navsidemenu icon menu-icon ion-android-menu float-left margin-top12"></i>
                            <!-- Brand -->
                            <div class="brand-name-wrapper">
                                <a class="navbar-brand">
                                    {{ pageTitle | translate }}
                                </a>
                            </div>
                        </div>
                    </div>
        
                    <div id="myGroup" class="col-xs-12 col-sm-6 right-content float-right">
                        <ul class="c-right">
                            <li data-toggle="collapse" data-target="#languagedropdown" data-parent="#myGroup" class="mousepointer li-c-right mr-22">
                                <i class="icon lang-icon ion-android-globe"></i>
                                <span class="lang-label switch-lang-style">{{ localizationResources.languageName | translate }}</span>
                                            
                                <ul id="languagedropdown" class="collapse lang-dropdown zindex-5">
                                    <li class="li-lang-dropdown" [ngClass]="{'bg-selected-lang': localizationResources.Label_German == localizationResources.languageName }" (click)="switchLanguage('de')">
                                            <span>{{localizationResources.Label_German | translate}}</span>
                                    </li>
                                    <li class="li-lang-dropdown" [ngClass]="{'bg-selected-lang': localizationResources.Label_French == localizationResources.languageName }" (click)="switchLanguage('fr')">
                                            <span>{{localizationResources.Label_French  | translate}}</span>
                                    </li>
                                    <li class="li-lang-dropdown" [ngClass]="{'bg-selected-lang': localizationResources.Label_English == localizationResources.languageName }" (click)="switchLanguage('en')">
                                            <span>{{localizationResources.Label_English | translate}}</span>
                                    </li>
                                </ul>
                            </li>
                    
                            <li data-toggle="collapse" data-target="#usernamedropdown" data-parent="#myGroup" class="mousepointer li-c-right mr-10">
                                <i class="fa fa-user icon-white"></i>
                                <span class="username-label switch-lang-style">{{userName ? userName : '&nbsp;'}}</span>
        
                                <ul id="usernamedropdown" class="collapse username-dropdown zindex-5" [ngClass]="{'no-icon': (!isConfigurationIconShown && isManageIconShown) || (isConfigurationIconShown && !isManageIconShown), 'right-3': !isManageIconShown && !isConfigurationIconShown}">
                                    <li class="li-settings-dropdown" (click)="goToChangePassword()" *ngIf="isChangePassMenuShown">
                                            <span>{{localizationResources.Label_ChangePassword | translate}}</span>
                                    </li>
                                    <li class="li-settings-dropdown" (click)="logout()">
                                            <span>{{localizationResources.Label_Logout | translate}}</span>
                                    </li>
                                </ul>
                            </li>
                            
                            <li data-toggle="collapse" data-target="#settingsdropdown" data-parent="#myGroup" class="mousepointer li-c-right mr-10" *ngIf="isConfigurationIconShown">
                                <i class="icon lang-icon settings-icon"></i>
                                <span class="lang-label switch-lang-style"></span>
        
                                <ul id="settingsdropdown" class="collapse settings-dropdown zindex-5" [ngClass]="{'right-4': isConfigurationIconShown && !isManageIconShown}">
                                    <li class="li-settings-dropdown" (click)="goToBusinessRule()">
                                        <span>{{localizationResources.BusinessRuleConfiguration_OptionTitle | translate}}</span>
                                    </li>
                                    <li class="li-settings-dropdown" (click)="goToConfigurationSummary()">
                                            <span>{{localizationResources.ConfigurationSummary_Title | translate}}</span>
                                    </li>
                                </ul>
                            </li>
        
                            <li data-toggle="collapse" data-target="#usermanagement" data-parent="#myGroup" class="mousepointer li-c-right mr-10" *ngIf="isManageIconShown">
                                <i class="fa fa-users icon-white"></i>
                                <span class="lang-label switch-lang-style"></span>
                                
                                <ul id="usermanagement" class="collapse user-management-dropdown zindex-5">
                                    <li class="li-settings-dropdown" (click)="goToManageUsers()">
                                            <span>{{localizationResources.Label_ManageUser | translate}}</span>
                                    </li>
                                    <li class="li-settings-dropdown" (click)="goToManageCompanies()" *ngIf="isManageCompanyShown">
                                            <span>{{localizationResources.Label_ManageCompanies | translate}}</span>
                                    </li>
                                </ul>
        
                            </li>
                        </ul>
                    </div>
          
                    <!-- Main Menu -->
                    <div class="side-menu-container">
                        <ul class="nav navbar-nav">
                            <li>
                                <a [ngClass]="{'highlightMenu': selectedPage === '/vehicleChangeCaseOverview', 'unhighlightMenu': selectedPage !== '/vehicleChangeCaseOverview'}" (click)="goToVehicleOverview()">
                                {{localizationResources.Label_OverviewVehicleChangeCases | translate}}
                                </a>
                            </li>
                            <li [ngClass]="{'disabledNewCaseMenu' : isMenuDisabled}">
                                <a [ngClass]="{'highlightMenu': selectedPage.indexOf('newVehicleChangeCase') > -1, 'unhighlightMenu': selectedPage.indexOf('newVehicleChangeCase') === -1}" (click)="goToVehicleChangeCase()">
                                    {{localizationResources.Label_NewVehicleChange | translate}}
                                </a>
                            </li>
                        </ul>
                    </div>
                </nav>
            </header>
        </div>
    </div>
</div>
